<!doctype html>
<head>
    <title>Etusivu</title>
</head>
<body>
  <h2>Etusivu</h2>
  <ul>
    <li><a href="/kello">/kello</a></li>
    <li><a href="/api/kello">/api/kello</a></li>
  </ul>
  <form action="/logout" method="post">
    <input type="submit" value="Kirjaudu ulos"/>
  </form>
</body>
